doctype html
meta(charset='utf-8')
title
meta(
    name='viewport',
    content='user-scalable=no, width=device-width, initial-scale=1')
meta(name='format-detection', content='telephone=no')
link(href='css/index.css', rel='stylesheet')
title Hello World
.app
    h1 Apache Cordova
    #deviceready.blink
    p.event.listening Connecting to Device
    p.event.received Device is Ready
script(src='cordova.js')
script(src='js/index.js')
